
///////////////////////////////////////////////
/////////Где находятся пакеты и модули/////////
///////////////////////////////////////////////

//Стандартные пакеты и сторонние пакеты установленные глобально
//import os
/usr/lib/python3.6/os.py
//whereis python3 -> /usr/lib/python3.6



//Сторонние пакеты при использовании venv
//import packagename
venv/lib/python3.6/site-packages/packagename
venv/lib64/python3.6/site-packages/packagename
//venv как правило лежит в папке проекта



///////////////////////////////////////////////
/////////////////////VENV//////////////////////
///////////////////////////////////////////////
Использование виртуального окружение позволяет проекту работать
изолированно и независимо от версий пакетов системы и других проектов



////////////////////////////////////////////////
/////////Настройка virtualenv в pycharm/////////
////////////////////////////////////////////////

//1. Установка virtualenv
sudo apt-get install python-virtualenv
//или
sudo pip install virtualenv



//2. Добавление venv
File -> Settings

//Settings
Project: <name> -> Project Interpreter

//Settings: Project Interpreter
Project Interpreter -> show all

//Project interpreters
+ Add

//Add Python interpreter
(radio) New environment
Location: /path/to/project/venv
Base Interpreter: python3.6
Ok

//Project interpreters
select /path/to/project/venv/bin/python
Ok

//Settings: Project Interpreter
Project Interpreter -> select -> /path/to/project/venv/bin/python
Apply, Ok



//3. Установить зависимость в venv
Открыть консоль (Alt + F12)
(venv) python -m pip install azure-cognitiveservices-search-customsearch



////////////////////////////////////////////////
/////////Настройка virtualenv в консоли/////////
////////////////////////////////////////////////

//Вариант 1
//Настройка виртуального окружения
mkdir virtual_env && cd virtual_env
python3 -m venv env
source env/bin/activate



//Вариант 2
pip3 install virtualenv
virtualenv
mkdir venv && cd venv

//python3 -m - run library module as a script
python3 -m venv testing_env

//активировать виртуальную среду
source env/bin/activate

//деактивировать виртуальную среду
deactivate
