
/////////////////////////////////////////
/////////////////go get//////////////////
/////////////////////////////////////////
 - менеджер пакетов для go встроен в команду go
 - go get "package"
 - go get установливает пакет в $GOPATH/pkg и $GOPATH/bin
 - go get внутри модуля вызвать скачает пакет в $GOPATH/pkg/mod/
 - go env | grep GOPATH - посмотреть значение GOPATH



/////////////////////////////////////////
//////////////Поиск пакетов//////////////
/////////////////////////////////////////
Осуществляется вручную на сайтах:
https://godoc.org/golang.org/x/text/search
https://golang.org/pkg/



//////////////////////////////////////////
/////////////Основные команды/////////////
//////////////////////////////////////////
go help get
//помощь по команде go get

go get -v package
//вывод более подробной ихформации

go list
//перечислить пакеты или модули
//для вызова нужно перейти в папку с пакетом/подулем/кодом
cd /home/spendlively/go/src/github.com/bombsimon/wsl
go list

go get -d github.com/golang/protobuf/...
//выкачать проект из публичного git репозитория
//вызывать можно из любого места
//команда закачает библиотеку в GOPATH/src/github.com/golang/protobuf
//go get выкачивает master-ветку

go get -d github.com/golang/protobuf/...
//-d - download only - только скачать без установки и компиляции
//без -d после загрузки вызовет go install

многоточия ...
 - означают "данный пакет и все дочерние пакеты"
 - применяется для go get, go install, go test

go get -u github.com/golang/protobuf/...
 - обновит пакеты с репозиторием



/////////////////////////////////////////////////
//////////////go get внутри модуля///////////////
/////////////////////////////////////////////////
1. go get внутри модуля вызвать
 - скачает пакет в $GOPATH/pkg/mod/
 - go get github.com/beevik/ntp
 - $GOPATH/pkg/mod/github.com/beevik/ntp@v0.2.0
2. go get зависимость
 - обновит зависимости в go.mod
3. go get tidy
 - рекомендуется
 - изменяет go.mod файл
 - пробегает по импортам в исходном коде,
удаляет ненужные зависимости и добавляет новые
